<div>
    <header>
        <div id="banner">
            <div class="inner">
                <h1>xiao</h1>
                <p class="sub-heading">世界很小，因为遇见你，世界也很大...</p>
                <button type="button">了解我</button>
                <a href="#">
                    <div class="more">
                        更多
                        <span class="glyphicon glyphicon-hand-down"></span>
                    </div>
                </a>
            </div>
        </div>
    </header>
    <!-- 内容区域 -->
    <div class="content clear-float" id="content">
        <div class="left-container">
            <!--  最新发布的文章在这里显示，每一个section是一篇文章-->
            <div class="title-section">最新发布</div>
            <section>
                <div class="article-preview ">
                    <div class="img-section">
                        <a href="#/pages">
                            <img class="img-rounded" src="images/1.jpg">
                        </a>
                    </div>
                    <div class="text-section">
                        <a href="#/pages"><h3>文章标题</h3></a>
                        <a href="#/pages">
                        <div>
                            content
                        </div>
                        </a>
                        <ul class="text-bottom">
                            <li><span class="glyphicon glyphicon-user"> xiao</span></li>
                            <li><span class="glyphicon glyphicon-time"> xxx</span></li>
                            <li><span class="glyphicon glyphicon-eye-open"> xxx</span></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
        <div class="right-container">
            <div>
                <ul>
                    <li><a href="#">time</a></li>
                </ul>
            </div>
        </div>
     </div>