<div class="pages-wrapper">
    <div class="detail_title">
        <div class="panel panel-primary">{{Jsona[0].Title}}</div>
        <div class="fl">
            <img ng-src={{Jsona[0].Url}} alt="">
        </div>
        <div class="detail_cont">
            <div>{{Jsona[0].Cont}}</div>
        </div>
        <div class="fr detail_footer">
            <ul>
                <li class="glyphicon glyphicon-user"> {{Jsona[0].Name}}</li>
                <li class="glyphicon glyphicon-time"> {{Jsona[0].Time}}</li>
                <li class="glyphicon glyphicon-eye-open"> {{Jsona[0].clicks}}</li>
            </ul>
        </div>
    </div>
</div>