     <footer class="clear-float">
        <ul class="share-group">
            <li><span class="glyphicon glyphicon-qrcode"></span></li>
            <li><span class="glyphicon glyphicon-random"></span></li>
            <li><span class="glyphicon glyphicon-sound-7-1"></span></li>
            <li><span class="glyphicon glyphicon-cloud-download"></span></li>
            <li><span class="glyphicon glyphicon-sound-6-1"></span></li>
        </ul>
        <div calss="copy" style="padding-top:20px;">
            &copy xue
        </div>
     </footer>