        <nav>
            <div class="logo">
                <h2>xzx</h2>
            </div>
            <div class="login-button">
                    <button id="denglu" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">登录</button>
                     <button type="button" data-toggle="modal" data-target="#foo">注册</button>
            </div>
            <p id="id" ng-hide="visible">{{user.name}}</p>
            <ul>
                <li><a href="#/">首页</a></li>
                <li><a href="#/article">随笔</a></li>
                <li><a href="#/message">留言</a></li>
                <li><a href="#/about">关于我</a></li>
                 <li><a href="#/admin">admin</a></li>
            </ul>
        </nav>
